<h1>Members</h1>
<section>
	<button [routerLink]="['/member/create']">Create Member</button>
	<br />
	<br />
	<table>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let member of members | paginate: config">
			<td>
				<h4>{{ member.firstName }} {{ member.lastName }}</h4>
			</td>
			<td>
				<button [routerLink]="['/member/', member.id]">View</button>
				<button (click)="deleteMember(member.id!)">Delete</button>
			</td>
		</tr>
	</table>
	<pagination-controls class="wsecu-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</section>